body {
    background-color: #1C1C1C;
    
    margin: 0;
    
    font-family: "Karla", sans-serif;
    color: #fff;
}

.container {
    background-color: #3A153B;
    
    max-width: 500px;
    height: 500px;
    margin: 1em auto;
    border: 5px solid #ffffff;
    border-radius: 12px;
    padding: 1em 3em;
}

h1 {
    margin-top: 1em;
    
    font-weight: 900;
    font-size: 40px;
}

h1 .purple-words {
    color: #F4D3FB
}

p,
label {
    color: #D5D4D8;
}

button {
    background-color: #F4D3FB;
    
    border: 2px solid #F4D3FB;

    margin: 40px 0 20px 0;
    padding: 9px 17px 9px 15px;
    border-radius: 6px;
}

button:hover {
    background-color: #3A153B;
    color: #F4D3FB;
    
    cursor: pointer;
}

hr {
    border: 1px solid #F4D3FB;
}

/***PASSWORDS***/

.password-fields {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.field {
    background-color: #1E041F;
    color: #F4D3FB;
    text-align: center;
    
    width: 211px;
    height: 39px;
    border-radius: 6px;
    opacity: 0px;
    padding-top: 1em;
}

/**COPY ICON**/
.copy-icon img {
    width: 20px;
    float: right;
    padding: 0 5px;
}

.copy-icon img:hover {
    opacity: .1;
    cursor: pointer;
}

/***INPUT***/
input {
    border-radius: 4px;
    border: 0;
    padding: 5px 10px;
    
    background-color: #1E041F;
    color: #F4D3FB;
}

/***CHECKBOXES***/
.light-mode-checkbox {
    display: flex;
    justify-content: flex-end;
}

/***LIGHT MODE***/
.container.light-mode {
    border: 5px solid #7B4D7D;
    
    background-color: #F4D3FB;
    color: #2B283A;
}

.light-mode h1 .purple-words {
    color: #7B4D7D;
}

.light-mode p,
.light-mode label {
    color: #241F24;
}

.light-mode input {
    background-color: #7B4D7D;
    color: #1E041F;
}

.light-mode button {
    background-color: #3A153B;
    color: #F4D3FB;
    
    border: 2px solid #3A153B;
}

.light-mode button:hover {
    background-color: #F4D3FB;
    color: #3A153B;
}

.light-mode hr {
    border: 1px solid #3A153B;
}

.light-mode .field {
    background-color: #7B4D7D;
    color: #1E041F;
}

.light-mode .copy-icon img {
    filter: grayscale(100%) contrast(0%);
}
