body {
    background-color: #1C1C1C;
    
    margin: 0;
    
    font-family: "Karla", sans-serif;
    color: #fff;
}

.container {
    background-color: #1F2937;
    
    max-width: 500px;
    height: 500px;
    margin: 1em auto;
    border: 5px solid #ffffff;
    border-radius: 12px;
    padding: 1em 3em;
}

h1 {
    margin-top: 1em;
    
    font-weight: 900;
    font-size: 40px;
}

h1 .green-words {
    color: #10B981
}

p,
label {
    color: #D5D4D8;
}

button {
    background-color: #10B981;
    
    border: 0;

    margin: 40px 0 20px 0;
    padding: 9px 17px 9px 15px;
    border-radius: 6px;
}

hr {
    border: 1px solid #2F3E53;
}

/***PASSWORDS***/

.password-fields {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.field {
    background-color: #273549;
    color: #55F991;
    text-align: center;
    
    width: 211px;
    height: 39px;
    border-radius: 6px;
    opacity: 0px;
    padding-top: 1em;
}

/**COPY ICON**/

.copy-icon img {
    width: 20px;
    float: right;
    padding: 0 5px;
}

.copy-icon img:hover {
    opacity: .1;
    cursor: pointer;
}

/***INPUT***/
input {
    border-radius: 4px;
    border: 0;
    padding: 5px 10px;
    
    background-color: #273549;
    color: #10B981;
}

/***CHECKBOXES***/
.light-mode-checkbox {
    display: flex;
    justify-content: flex-end;
}

/***LIGHT MODE***/
.container.light-mode {
    border: 5px solid #D5D4D8;
    
    background-color: #ECFDF5;
    color: #2B283A;
}

.light-mode p,
.light-mode label {
    color: #6B7280;
}

.light-mode input {
    background-color: #D5D4D8;
}

.light-mode hr {
    border: 1px solid #D5D4D8;
}
